.navBar{
    margin: 2%;
    color: black;
    display: flex;
    justify-content: end;
    gap: 20px;
    align-items: center;
    align-content: space-between;
}

.user{
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid #647280;
}
.user .link{
    background-color: #647280;
    color: white;
}

.btn{
    border: 1px solid black;
}
.search{
    padding: 7px 10px 7px 20px;
    background-color: #1C2126;
    width: 20rem;
    display: flex;
    justify-content: flex-end;
    border: 1px solid #647280;
    border-radius: 10px;
    color: #B9B9B9;
    gap: 3.5rem;
}
.input{
    text-decoration: none;
    background-color: #1C2126;
    outline: none;
    font-size: 13px;
}
.input textarea{
    background-color: #1C2126;
    border: 0px;
}
.icons{
    margin-left: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}
.icons button{
    padding: 10px;
    border-radius: 10px;
    background-color: #2F363D;
    color: #13B497;
}
.gear{
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #13B497;
}