/* navbar styles */
.navBar{
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 2%;
    color: white;
    display: flex;
    gap: 20px;
    align-items: center;
    align-content: space-between;
}

.user{
    padding-right: .6rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid #647280;
    color: white;
}
.userName{
    padding: 10px;
    font-size: 13px;
}
.link{
    border-radius: 10px;
    height: 100%;
    padding: 9px;
}

.btn{
    border: 1px solid black;
}
.search{
    background-color: #1C2126;
    width: 20rem;
    display: flex;
    justify-content: center;
    border: 1px solid #647280;
    border-radius: 10px;
    color: #B9B9B9;
    gap: 5rem;
    padding: 8px;
    margin-left: 30rem;
    
}
.input{
    background-color: #1C2126;
    outline: none;
    font-size: 12px;
    width: 100%;
    height: auto;
}

.icons{
    margin-left: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    padding-right: 1.3rem;
    border-right: 1px solid #647280;
}
.icons button{
    padding: 10px;
    border-radius: 10px;
    background-color: #2F363D;
    color: #13B497;
}
.gear{
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #13B497;
}

/* sidebar */
.sideContainer{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #2F363D;
    width: 17rem;
}
.menu{
    padding: 0 1.5rem 1.5rem 1.5rem;
}
.hide{
    display: none;
}
.mainMenu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.image{
    height: 120px;
    width: auto;
}

@media (max-width: 1300px) {
    /* navbar */
    .search{
        margin-left: 15rem;
        
    }
}
@media (max-width: 1100px) {
    /* navbar */
    .search{
        margin-left: 8rem;
        
    }
}
@media (max-width: 900px) {
    /* navbar */
    .search{
        margin-left: 5rem;
        
    }
}